{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Profil Właściciela: {{ owner.name }} {{ owner.surname }}</h1>
    <div class="row flex-lg-nowrap">
        <table>
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Rodzaj</th>
                    <th>Gatunek</th>
                    <th>Płeć</th>
                    <th>Data Urodzenia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animals %}
                    <tr>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.type }}</td>
                        <td>{{ animal.species }}</td>
                        <td>{{ animal.gender }}</td>
                        <td>{{ animal.birthdate }}</td>
                        <td class="text-center align-middle">
                            <div class="btn-group align-top">
                                <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#edit-owner-form">Edytuj</button>
                                <button class="btn btn-sm btn-outline-secondary badge delete-btn" type="button" data-toggle="modal" data-target="#confirmation" data-id="{{ animal.animal_id }}"><img class='trashy' src="../static/css/trash.png"></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- confirmation window -->
<div class="modal fade" role="dialog" tabindex="0" id="confirmation" action=""> 
    <div class="py-1">
        <div class="modal-dialog modal-lg">
            <div class = 'modal-content'>
                <div class="modal-header">
                    <h5>Czy na pewno chcesz usunąć to zwierzę?</h5>
                </div>
                <div class="modal-body">
                    <form class="form" novalidate="" id="delete-form" method="POST" action="/delete_animal/{{ animal_id }}">
                    <div class="col text-center">
                        <button class="button-personalized btn btn-block btn-outline-secondary" type="submit">Potwierdź</button>
                        <button class="button-personalized btn btn-block btn-success" type="button" data-dismiss="modal">Anuluj</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete-btn');
        const deleteForm = document.getElementById('delete-form');
        
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const id = button.getAttribute('data-id');
                const action = '/delete_animal/' + id;
                deleteForm.setAttribute('action', action);
            });
        });
    });
</script>
{% endblock %}