{% extends "base.html" %}

{% block content %}

<div class="container">
<h1>Profil Właściciela: {{ owner.name }} {{ owner.surname }}</h1>
<div class="row search-add">
    <div class="add-user">
        <button class="btn btn-success btn-block button-personalized" type="button" data-toggle="modal" data-target="#add-animal-form">Dodaj zwierzę</button>
    </div>
</div>
    <div>
        {% for animal in animals %}
            <div class="row flex-lg-nowrap">
                <h4>Imię: {{ animal.name }}</h4>
                {% if animal.gender == 'M' %}
                    <h4>♂</h4>
                {% else %}
                    <h4>♀</h4>
                {% endif %}
                <button class="btn btn-sm btn-outline-secondary badge delete-btn" style="margin-left: 2em; margin-bottom: 1em" type="button" data-toggle="modal" data-target="#confirmation" data-id="{{ animal.animal_id }}"><img class='trashy' src="../static/css/trash.png"></button>
            </div>
            <p>{{ animal.species }} {{ animal.type }},  ur. {{ animal.birthdate }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Choroba</th>
                        <th>Data diagnozy</th>
                        <th>Data powrotu do zdrowia</th>
                        <th>Opis</th>
                    </tr>
                </thead>
            {% for disease in diseases[animal.animal_id] %}
                
                    <tbody>
                        <tr>
                            <td>{{ disease.name }}</td>
                            <td>{{ disease.diagnosis_date }}</td>
                            <td>{{ disease.recovery_date }}</td>
                            <td>{{ disease.description }}</td>
                        </tr>
                    </tbody>
                
            {% endfor %}
            </table>
            <hr/>
        {% endfor %}
    </div>

<!-- confirmation window -->
<div class="modal fade" role="dialog" tabindex="0" id="confirmation" action=""> 
    <div class="py-1">
        <div class="modal-dialog modal-lg">
            <div class = 'modal-content'>
                <div class="modal-header">
                    <h5>Czy na pewno chcesz usunąć to zwierzę?</h5>
                </div>
                <div class="modal-body">
                    <form class="form" novalidate="" id="delete-form" method="POST" action="/delete_animal/{{ animal_id }}">
                    <div class="col text-center">
                        <button class="button-personalized btn btn-block btn-outline-secondary" type="submit">Potwierdź</button>
                        <button class="button-personalized btn btn-block btn-success" type="button" data-dismiss="modal">Anuluj</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add animal form -->
<div class="modal fade" role="dialog" tabindex="-1" id="add-animal-form"> 
    <div class="py-1">       
      <div class="modal-dialog modal-lg" role="document">
          <div class = 'modal-content'>
              <div class="modal-header">
                  <h5>Dodaj nowe zwierzę</h5>
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                <form class="form" novalidate="" id="add-form" action="/add_animal" method="POST">
                    <div class="form-group">
                        <label for="name">Imię:</label>
                        <input type="text" name="name" id="name" required placeholder="...">
                    </div>
                    <div class="form-group">
                        <label for="type">Rodzaj:</label>
                        <input type="text" name="type" id="type" required placeholder="...">
                    </div>
                    <div class="form-group">
                      <label for="species">Gatunek:</label>
                      <input type="text" name="species" id="species" required placeholder="...">
                    </div>
                    <div class="form-group">
                      <label for="gender">Płeć:</label>
                      <select class="select" name="gender" id="gender">
                            <option value="M">Samiec</option>
                            <option value="F">Samica</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="birthdate">Data Urodzenia:</label>
                      <input type="date" name="birthdate" id="birthdate" required placeholder="...">
                    </div>
                    <button class="btn btn-success btn-block" type="submit" id="submit-edit">Potwierdź</button>
                    </form>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- disease_history -->
<div class="modal fade" role="dialog" tabindex="-1" id="disease-history"> 
    <div class="py-1">       
      <div class="modal-dialog modal-lg" role="document">
          <div class = 'modal-content'>
              <div class="modal-header">
                  <h5>Historia chorób</h5>
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <th>Choroba</th>
                            <th>Data diagnozy</th>
                            <th>Data powrotu do zdrowia</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disease in diseases %}
                            <tr>
                                <td>{{ disease.name }}</td>
                                <td>{{ disease.diagnosis_date }}</td>
                                <td>{{ disease.recovery_date }}</td>
                                <td>{{ disease.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete-btn');
        const deleteForm = document.getElementById('delete-form');
        
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const id = button.getAttribute('data-id');
                const action = '/delete_animal/' + id;
                deleteForm.setAttribute('action', action);
            });
        });
    });
</script>

{% endblock %}