/* style.css */

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('green.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.cd-schedule__group > ul {
  position: relative;
  padding: 0 var(--component-padding);
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule__event {
  flex-shrink: 0;
  float: left; 
  height: 150px;
  width: 70%;
  max-width: 300px;
}


  .harmonogram {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
    grid-gap: 10px; /* spacing between event blocks */
  }

  .grid-container {
    margin-top: 40px;
    overflow: hidden;
    display: grid;
    font-family: Arial, sans-serif;
    font-size: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

  .grid-item {
      border: 1px solid #ccc;
      padding: 10px;
  }

  .gird-subitem{
      padding: 10px;
      border: 1px solid #ccc;
  }
  

  .container {
    
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  table th {
    background-color: #f2f2f2;
  }

  input[type="date"],
  input[type="time"],
  input[type="text"],
  input[type="submit"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .button-container {
    text-align: right;
    margin-bottom: 20px;
  }

  .add-appointment-form {
    display: none;
  }

  .add-appointment-form.show {
    display: block;
    margin-right: 40;
    padding: 10px;
    border-radius: 5px;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .flash-messages {
    margin-top: 10px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.success {
    background-color: #c9e2b3;
    color: #397d02;
}



/* Styles specific to patients */
.search-add /* ????? */ {
  align-content: right;
  align-items: right;
}

#pesel {
  background-image: url('search_icon.png'); /* Add a search icon to input */
  background-size: 24px;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  height: 50px;
  width: 30%; /* Full-width */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  vertical-align: right;
  margin: 10px;
}

.button-personalized {
  height: 50px;
  width: 200px;
  display: inline-block;
  margin: 10px;
}

.add-user {
  text-align: right;
  vertical-align: middle;
}

.trashy {
  width: 15px;
  height: 15px;
}

.button-row {
  text-align: center;
}

#owners tr:hover {
  background-color: #f2f2f2;
}

.linked {
  cursor: pointer;
  cursor: hand;
}